@model FinalProject.Models.UpsertCustomer
@{
    ViewBag.Title = "Signup Page";
}
<h2>Add an Customer</h2>
@using (Html.BeginForm("Upsert", "Customer", FormMethod.Post))
{
    @Html.HiddenFor(c => c.customer.CustomerID);
    <span class="label label-primary">Name:</span>@Html.TextBoxFor(c => c.customer.Name, new { @class = "form-control" });
    <span class="label label-primary">Address:</span>
    <div class="autocomplete-container" id="autocomplete-container"></div>
    <span class="label label-primary">Current Address:</span>
    <div id="fullAddress"></div>

    @Html.HiddenFor(c => c.customer.Address, new { @class = "form-control", id = "customerAddress" });
    @Html.HiddenFor(c => c.customer.City, new { @class = "form-control", id = "customerCity" });
    @Html.HiddenFor(c => c.customer.State, new { @class = "form-control", id = "customerState" });
    @Html.HiddenFor(c => c.customer.ZipCode, new { @class = "form-control", id = "customerZip" });



    <input type="submit" id="Submit" value="submit" class="btn btn-info" />
    <div id="SubmissionText"></div>
}

<script src="~/Scripts/main.js"></script>
<script>
    let address = "@Model.customer.Address,@Model.customer.City,@Model.customer.State @Model.customer.ZipCode,United States of America";
    @*30 Islay, Rancho Santa Margarita, CA 92688, United States of America*@
    document.querySelector("#fullAddress").innerHTML = address;
</script>


